<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Article</title>
    </head>
    <body>
        <article>
            <img src="<%= article.coverImage %>" />
            <h1><%= article.title %></h1>
            <p>By: <%= article.author %></p>
            <% article.body.forEach(function(block) { %>
                <section><%- block %></section>
            <% }); %>
            <h2>Sources</h2>
            <% article.sources.forEach(function(source) { %>
                <p><%= source %></p>
            <% }); %>
        </article>
    </body>
</html>
