<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Profile</title>
        <script src="/public/js/edit_profile.js"></script>
    </head>
    <body>
        <h1>Edit Profile</h1>

        <form>
            <p><%= name %></p>
            <input type="hidden" id="name" name="name" value="<%= name %>">
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" value="<%= role %>">
            <br />
            <br />
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" value="<%= year %>">
            <br />
            <br />
            <label for="major">Major:</label>
            <input type="text" id="major" name="major" value="<%= major %>">
            <br />
            <br />
            <label for="bio">Bio:</label>
            <input type="text" id="bio" name="bio" value="<%= bio %>">
            <br />
            <br />
            <input type="submit" value="Submit">
        </form>
        <br />
        <a href="/internal/profile">click to return</a>
    </body>
</html> 
